asgiref==3.2.7
bleach==3.1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
Django==3.0.12
django-crispy-forms==1.9.0
django-mathfilters==1.0.0
docutils==0.16
idna==2.9
importlib-metadata==1.6.0
jeepney==0.4.3
keyring==21.2.0
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.6.1
pytz==2019.3
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
sqlparse==0.3.1
tqdm==4.45.0
twine==3.1.1
urllib3==1.25.9
webencodings==0.5.1
zipp==3.1.0
